{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col md-12">
            <div class="banner">
                <div class="banner-text">
                    <h2>ToDo</h2>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-1 shadow">
             {% csrf_token %}
             <div class="form-group">
                <input type="text" class="form-control" name="task" placeholder="task-name">
             </div>
            <div class="form-group">
                <input type="text" class="form-control" name="priority" placeholder="enter your priority">
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="date" placeholder="enter your date">
            </div>
                <input type="submit" class="btn btn-success">
            </form>
        </div>
        <div class="col-md-6">
            <h4>task to be completed</h4>
            {% for i in task %}
                <div class="shadow card">
                    <div class="card body">
                        <h5 class="card title">{{i.name}}</h5>
                        <p><b>{{i.priority}}</b></p>
                        <p>{{i.date}}</p>

                    </div>
                     <div class="card-footer">
                    <a class="btn btn-danger " href="{% url 'todoapp:delete' i.id %}">Delete</a>
                    <a class="btn btn-success" href="{% url 'todoapp:update' i.id %}">update</a>

                     </div>
                </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}